.bookslist {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 40px;

	li {
		border-radius: 4px;
		margin-bottom: 40px;
		margin-right: 28px;
		width: 160px;

		&:nth-of-type(6n) {
			margin-right: 0;
		}

		&:hover span {
			text-decoration: underline;
		}
	}

	&-card-meta {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	p {
		font-size: 12px;
	}

	img {
		width: 100%;
	}
}
